<app-navegador></app-navegador>
<div class="container">
    <div class="py-5 text-center">
        <h1>Ingeniería en Gestión Empresarial</h1>
    </div>
    <div class="container text-center">
        <p class="lead">
        </p>
        <img src="assets/desarrollo-empresarial.jpg" alt="" width="500" height="200">
    </div>
    <div>
        <h2>Objetivo General:</h2>
        <p class="lead">Formar profesionales competentes en el diseño, desarrollo, implementación de negocios y gestión de proyectos con una visión sistémica, tecnológica y estratégica, ofreciendo soluciones innovadoras e integrales a las organizaciones, de acuerdo con las necesidades globales, actuales y emergentes, comprometidas con su entorno, desempeñándose con actitud ética, sustentable, emprendedora y de liderazgo.</p>

        <h2>Perfil de Ingreso</h2>
        <p class="lead">Los aspirantes a cursar la carrera de Ingeniería en Gestión Empresarial deben tener bachillerato terminado en las áreas económico-administrativas o en humanidades, ciencias sociales y políticas, preferentemente. Además, deberán contar con conocimientos básicos de investigación, física, química, matemáticas, y uso de las tecnologías de la información, de igual manera tener capacidad de razonamiento y abstracción, así como habilidad para trabajar en equipo, buena expresión oral y escrita y tener interés por el emprendedurismo.</p>

        <h2>Perfil de Egreso</h2>
        <p class="lead">• Desarrollar y aplicar habilidades directivas y la ingeniería en el diseño, creación, gestión, desarrollo, fortalecimiento e innovación de las organizaciones, con una orientación sistémica y sustentable para la toma de decisiones en forma efectiva.</p>
        <p class="lead">• Diseñar e innovar estructuras administrativas y procesos, con base en las necesidades de las organizaciones para competir eficientemente en mercados globales.</p>
        <p class="lead">• Gestionar eficientemente los recursos de la organización con visión compartida, con el fin de suministrar bienes y servicios de calidad.</p>
        <p class="lead">• Aplicar métodos cuantitativos y cualitativos para el análisis e interpretación de datos y modelado de sistemas, en los procesos organizacionales para la mejora continua, atendiendo estándares de calidad mundial.</p>
        <p class="lead">• Establecer programas para el fortalecimiento de la seguridad e higiene en las organizaciones.</p>
        <p class="lead">• Aplicar métodos de investigación para desarrollar e innovar sistemas, procesos y productos en las diferentes dimensiones de la organización.</p>

        <h2>Campo Laboral</h2>
        <p class="lead">El Ingeniero en Gestión Empresarial podrá desempeñar eficientemente funciones derivadas del área de producción, finanzas, recursos humanos, mercadotecnia y auditoría, asimismo podrá fungir como asesor o consultor de empresas, encargarse de la administración y gestión de empresas, públicas y privadas, diseñar productos de inversión, investigación de mercados, participar en la organización, planeación e integración organizacional de pequeñas y medianas empresas, además de desempeñarse como investigador y docente en instituciones educativas de nivel superior.</p>
    </div>



    <hr>



    <div class="py-5 text-center">
        <h1>Ingeniería en Tecnologías de la Información y Comunicaciones</h1>
        <!--<img class="d-block mx-auto mb-4" src="Imagenes/ITIC.jpg" alt="Imagen de Tecnología de la Información y Comunicación" width="100" height="100">-->
    </div>
    <h2>Infografía: </h2>

    <div class="container text-center">
        <p class="lead">
        </p>
        <img src="assets/info_itics.jpg" alt="" width="600" height="500">
    </div>
    <div>
        <h2>Objetivo General:</h2>
        <p class="lead">Formar profesionistas capaces de integrar y administrar tecnologías de la información y comunicaciones, que contribuyan a la productividad y el logro de los objetivos estratégicos de las organizaciones; caracterizándose por ser líderes, críticos, competentes, éticos y con visión empresarial, comprometidos con el desarrollo sustentable.</p>

        <h2>Perfil Profesional:</h2>
        <ul>
            <li class="list lead"> Diseñar, implementar y administrar redes de cómputo y comunicaciones, bajo modelos y estándares internacionales, para satisfacer las necesidades de información de los sistemas sociales, garantizando aspectos de seguridad y calidad.</li>
            <li class="list lead"> Diseñar, desarrollar y mantener sistemas de bases de datos asegurando la integridad, disponibilidad y confidencialidad de la información.</li>
            <li class="list lead"> Integrar las diferentes arquitecturas de hardware y administrar software para incrementar la productividad en organizaciones.</li>
            <li class="list lead"> Implementar sistemas de seguridad bajo políticas internas de las organizaciones y estándares aceptados.</li>
            <li class="list lead"> Administrar proyectos que involucren Tecnologías de la Información y Comunicaciones en las organizaciones conforme a requerimientos.</li>
            <li class="list lead"> Observar los aspectos legales del uso y explotación de las Tecnologías de la Información y Comunicaciones (TIC).</li>
            <li class="list lead"> Desarrollar e implementar sistemas de información para el control y la toma de decisiones utilizando metodologías basadas en estándares internacionales.</li>
            <li class="list lead"> Analizar, diseñar y programar dispositivos con software empotrado.</li>
            <li class="list lead"> Utilizar tecnologías y herramientas actuales y emergentes acordes a las necesidades del entorno.</li>
            <li class="list lead"> Integrar soluciones basadas en sistemas de comunicaciones que involucren tecnologías actuales y emergentes. Crear empresas en el ámbito de las TIC.</li>
            <li class="list lead"> Desempeñar funciones de consultoría y auditoría en el campo de las TIC.</li>
        </ul>
        <h2>Campo Laboral:</h2>
        <ul>
            <li class="list lead">El campo laboral del Ingeniero en TIC's es muy amplio y puede prestar sus servicios profesionales en:</li>
            <li class="list lead"> Empresas fabricantes, de mantenimiento y servicios de equipo de cómputo.</li>
            <li class="list lead">Centros de cómputo, teleproceso y de telecomunicaciones privados y públicos.</li>
            <li class="list lead"> Empresas especializadas en el desarrollo de soluciones en hardware y software.</li>
            <li class="list lead"> Empresas especializadas en instalaciones de redes de corto, mediano y largo alcance.</li>
            <li class="list lead"> Empresas privadas y públicas dedicadas a capacitación en software de propósito general y especializado.</li>
            <li class="list lead"> Medios de Comunicación (Televisión, Radio) como Ingeniero de Comunicaciones.</li>
            <li class="list lead"> Profesor especializado en cualquier carrera universitaria y tecnológica del área de nuevas tecnologías de la información.</li>
        </ul>
    </div>


    <hr>



    <div class="py-5 text-center">
        <h1>Ingeniería en Sistemas Computacionales</h1>
        <!--<img class="d-block mx-auto mb-4" src="Imagenes/ITIC.jpg" alt="Imagen de Tecnología de la Información y Comunicación" width="100" height="100">-->
    </div>
    <h2>Infografía: </h2>

    <div class="container text-center">
        <p class="lead">
        </p>
        <img src="assets/info_isc.jpg" alt="" width="600" height="500">
    </div>
    <div>
        <h2>Objetivo General:</h2>
        <p class="lead" id="msg">Formar profesionistas líderes, analíticos, críticos y creativos, con visión estratégica y amplio sentido ético, capaces de:</p>
        <li class="list lead">Diseñar, implementar y administrar infraestructura computacional.</li>
        <li class="list lead">Aportar soluciones innovadoras en beneficio de la sociedad, en un contexto global, multidisciplinario y sustentable.</li>

        <h2>Perfil Profesional:</h2>
        <ul>
            <li class="list lead">Integrar soluciones de cómputo con diferentes plataformas o dispositivos.</li>
            <li class="list lead"> Desarrollar, implementar y administrar software de aplicación que cumpla con estándares de calidad para apoyar la productividad y competitividad de las organizaciones.</li>
            <li class="list lead"> Diseñar e implementar interfaces hombre-máquina y máquina-máquina para la automatización de sistemas.</li>
            <li class="list lead"> Diseñar, configurar y administrar redes de cómputo con normas y estándares nacionales e internacionales.</li>
            <li class="list lead"> Coordinar y participar en proyectos de investigación interdisciplinarios.</li>
            <li class="list lead"> Diseñar, desarrollar y administrar bases de datos conforme a requerimientos definidos, normas organizacionales de manejo y seguridad de la información, utilizando nuevas tecnologías.</li>
            <li class="list lead"> Desarrollar una visión empresarial para detectar oportunidades que le permitan emprender y desarrollar proyectos aplicando las tecnologías de la información y comunicación.</li>
            <li class="list lead"> Desempeñar sus actividades profesionales considerando los aspectos legales, éticos, sociales y de desarrollo sustentable.</li>
            <li class="list lead"> Poseer habilidades metodológicas de investigación que fortalezcan el desarrollo cultural, científico y tecnológico en el ámbito de las ciencias computacionales.</li>
            <li class="list lead"> Seleccionar y aplicar herramientas matemáticas para el modelado, diseño y desarrollo de tecnología computacional.</li>
        </ul>

        <h2>Campo Laboral:</h2>
        <ul>
            <p class="lead" id="msg">El campo laboral del ISC es muy amplio y puede prestar sus servicios profesionales en:</p>
            <li class="list lead"> Empresas fabricantes, de mantenimiento y servicios de equipo de cómputo.</li>
            <li class="list lead"> Centros de cómputo, teleproceso y de telecomunicaciones privados y públicos.</li>
            <li class="list lead"> Empresas especializadas en el desarrollo de soluciones en hardware y software.</li>
            <li class="list lead"> Emliresas especializadas en instalaciones de redes de corto, mediano y largo alcance.</li>
            <li class="list lead"> Empresas privadas y públicas dedicadas a capacitación en software de propósito general y especializado.</li>
            <li class="list lead"> Empresas privadas y públicas dedicadas a capacitación en software de propósito general y especializado.</li>
            <li class="list lead"> Profesor especializado en cualquier carrera universitaria y tecnológica del área de computación e informática.</li>
        </ul>
    </div>



    <hr>



    <div class="py-5 text-center">
        <h1>Ingeniería Industrial</h1>
    </div>
    <h2>Infografía: </h2>

    <div class="container text-center">
        <p class="lead">
        </p>
        <img src="assets/ing-insdustrial.jpg" alt="" width="600" height="200">
    </div>
    <div>
        <h2>Objetivo General:</h2>
        <p class="lead">Formar profesionistas, en el campo de la ingeniería industrial, líderes, creativos y emprendedores con visión sistémica, capacidad analítica y competitiva que les permita diseñar, implementar, mejorar, innovar, optimizar y administrar sistemas de producción de bienes y servicios en un entorno global, con enfoque sustentable, ético y comprometido con la sociedad.</p>

        <h2>Perfil de Ingreso:</h2>
        <p class="lead">El aspirante deberá, preferentemente, contar con conocimientos del área de Ciencias Exactas y con habilidades de análisis, síntesis, visualización, creatividad, liderazgo, toma de decisiones, investigación, cooperación, así como análisis y comprensión de textos.</p>

        <h2>Campo Laboral:</h2>
        <p class="lead">Un Ingeniero Industrial es un profesionista que puede laborar en los sectores industrial, comercial e institucional dentro de las áreas de productividad, calidad, producción, higiene y seguridad, simulación de procesos, ergonomía, ambiental, mantenimiento e investigación en el campo de la innovación; siempre desempeñándose con ética, responsabilidad, compromiso y liderazgo.</p>
    </div>
</div>
